.rl_img{
  border-radius: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

  .PERN_LOGO{
    border-radius: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
   }
   
  .rl_progress_bar{
    border-radius: 25%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

  .rl_footer{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }